@import url('https://fonts.googleapis.com/css?family=Ubuntu|Source+Sans+Pro&display=swap');

$header-font: 'Ubuntu', sans-serif;;
$task-font: 'Source Sans Pro', sans-serif;
$font-color: #4f5b66;
$input-border: #FFCE3C;

