
body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;  
    background: rgb(64,224,208);
    background: -moz-linear-gradient(90deg, rgba(64,224,208,1) 14%, rgba(99,58,130,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(64,224,208,1) 14%, rgba(99,58,130,1) 100%);
    background: linear-gradient(90deg, rgba(64,224,208,1) 14%, rgba(99,58,130,1) 100%);
}



