.filterButtonCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.filterButton {
    padding: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 18px;
    transition: all 0.2s;
}

.filterButton:hover {
    background-color: #ffe3ed;
}

