.filterButtonCont {
    padding-top: 30px;
}

.filterButtons {
    color: $garbage-color;
    border: none;
}

// Mixin for corner circles (started from square therefore name didn't change)
@mixin background-square {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    z-index: -1;
    // Adjust color on mobile since background position changes
    @include not-desktop {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

@mixin button-preset {
    position: absolute;
    bottom: 0;
    width: 0;
    border: 0;
}

.buttonOneSquare {
    @include background-square;
    left: -50px;
} 

.buttonTwoSquare {
    @include background-square;
    right: -50px;
}

.buttonTwoClicker {
    @include button-preset;
    right: 0;
    cursor: pointer;
    @include desktop {
        &:hover .filterButtonTwo {
            path:nth-child(2) {
                transition: all 0.3s ease-out;
                transform: rotate(15deg) translateY(-20px);
                transform-origin: 100% 50%;
            }
        }
    }
    // Tap on touch screens (not desktop) instead of hover
    &:active .filterButtonTwo {
        path:nth-child(2) {
            transition: all 0.05s ease-out;
            transform: rotate(15deg) translateY(-30px);
            transform-origin: 100% 50%;
        }
    }
}

.buttonOneClicker {
    @include button-preset;
    left: 0;
    cursor: pointer;
    @include desktop {
        &:hover .checkmark {
            color: $green;
        }
        &:hover .squareBorder {
            opacity: 1;
            transform: scale(0.7);
        }
    }
    // Tap on touch screens (not desktop) instead of hover
    &:active .checkmark {
        color: $green;
        transform: scale(1.1);
    }
}

.filterButtonOne {
    cursor: pointer;
    line-height: 0;
    background: none;
    width: 38px;
    height: auto;
    position: absolute;
    bottom: 5px;
    left: 4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .checkmark {
        transition: all 0.1s ease-out;
    }
    .squareBorder {
        transition: all 0.1s ease-out;
        opacity: 0;
        width: 32px;
        height: 32px;
        border: 2px solid $garbage-color;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 6px;
        position: absolute;
        bottom: -4px;
        left: -2px;
        z-index: -1;
    }
}

.filterButtonTwo {
    cursor: pointer;
    line-height: 0;
    background: none;
    width: 38px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: -3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // Animate garbage lid
    path:nth-child(2) {
        transition: all 0.3s ease-out;
    }
}