@import "_variables.scss";

.inputForm {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputText {
    width: 80%;
    height: 2em;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 25px;
    font-family: $header-font;
}

.inputText:focus {
    outline: none;
}

button {
    padding: 0;
    outline: none;
}

.inputButton {
    border: none;
    font-size: 30px;
    line-height: 30px;
    height: 2em;
    width: 1em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #00a651;
    position: relative;
    margin-left: -30px;
    transition: color 0.3s ease-in-out;
}

.inputButton:disabled:not(.inputDenied) {
    color: grey;
}

.inputDenied {
    color:#cd2028;
}


