.inputForm {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.inputText {
    color: $font-color;
    width: 80%;
    height: 2em;
    background: none;
    border: none;
    padding-left: 10px;
    padding-right: 40px;
    font-size: 25px;
    font-family: $header-font;

    &:focus {
        outline: none;
    }

    // Change input box width on mobile
    @include mobile {
        width: 100%;
    }
}

.cool-line.animate-green {
    background-position: right bottom;
}

.cool-line.animate-red {
    background-position: left bottom;
}

.cool-line {
    transition: background-position 0.4s cubic-bezier(0.22, 1, 0.36, 1);
    background: linear-gradient(to left, rgba(0, 166, 81, 1) 33.3334%, $line-input-color 33.3334%, $line-input-color 66.667%, #cd2028 66.6667%, #cd2028);
    background-size: 300% 100%;
    background-position: center bottom;
    margin-top: -14px;
    height: 2px;
    width: 80%;

    @include mobile {
        width: 100%;
    }
}

button {
    padding: 0;
    outline: none;
}

.inputButton {
    border: none;
    font-size: 30px;
    line-height: 30px;
    height: 2em;
    width: 1em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: $glow-green;
    position: relative;
    margin-left: -30px;
    transition: all 0.15s ease-out;

    // Button is hovered and not disabled (green plus)
    &:not([disabled]):hover {
        transform: scale(1.1);
    }

    // Button is disabled and not denied (input is empty)
    &:disabled:not(.inputDenied) {
        cursor: default;
        color: $line-input-color;
    }
}

.inputDenied {
    cursor: default;
    color: #cd2028;
}