.listResults {
  padding: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-flow: row wrap;

  @include mobile {
    padding: 15px 0 30px;
  }
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.taskItem {
  font-family: $task-font;
  max-width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $task-color;
  background-color: rgba(253, 255, 252, 0.9);
  padding: 0.5em;
  border-radius: 4px;
  flex-basis: auto;
  margin: 0.5em;

  // Change task item appearance if checked
  &.taskClicked {
    transition: background-color 0.2s ease-out;
    background-color: rgba(253, 255, 252, 0.2);
  }
}

input[type="checkbox"] {
  max-width: 1.2em;
  min-width: 1.2em;
  height: 1.2em;
  color: $black;
  margin-right: 10px;
  border: 1px solid $task-color;
  border-radius: 4px;
  appearance: none;
  -moz-appearance: none;
  /* Hide dropdown in Firefox */
  -webkit-appearance: none;
  /* Hide dropdown in Chrome */
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

  &::before {
    position: relative;
    content: '';
    display: block;
    left: 4px;
    text-align: center;
    width: 0.4em;
    height: 0.8em;
    border-style: solid;
    border-color: $white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    opacity: 0;
  }

  // Change checkbox appearance if checked
  &.clicked {
    border-color: $green;
    background: $green;

    &::before {
      opacity: 1;
    }

    // Adding "strikethrough" animation when checked
    +div .taskLabel {
      font-weight: 600;
      color: white;
      background-size: 100% 3px;
      transition-delay: 0s;
    }
  }
}

.taskLabelContain {
  max-width: 90%;
  height: auto;
}

.taskLabel {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  color: $task-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-decoration: none;
  display: inline;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-image: -webkit-linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-position: 0 0.6em;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.4s ease-out;
}