.container {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffe3ed;
    min-width: 100%;  
}

.listResults {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
        
}

.card {
    background-color: #fffdf9 !important;
}
